<h2>Enter your details:</h2>
<%= form_for(:session, url: login_path) do |f| %>

    <div class="form-group">
        <p>
            <%= f.label :email %><br>
            <%= f.email_field :email, class: 'form-control', placeholder: 'Enter email' %>
        </p>
    </div>

    <div class="form-group">
        <p>
            <%= f.label :password %><br>
            <%= f.password_field :password, class: 'form-control', placeholder: 'Enter password' %>
        </p>
    </div>

	<%= f.submit "Log in", class: 'btn btn-default' %>
	
<% end %>